* {
  margin: 0;
  padding: 0;
}
.search{
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: 20px 0px;
}
.search input{
  width: 250px;
  padding: 10px 20px;
}

.books-container{
  color: white;
}